<main>
  <section class="pa-hunt-title">
    <img src="../../../assets/images/title.png" />
  </section>
  <section class="pa-container pa-hunt-wrap">
    <div class="pa-hunt-hunt">
      <app-button text="procurar" (click)="huntPokemon()"></app-button>
      <div class="pa-hunt-found">
        <img *ngIf="pokemon && pokemon?.sprites?.front_default" [src]="pokemon?.sprites?.front_default" />
        <p *ngIf="!pokemon || !pokemon?.sprites?.front_default">Nada encontrado...<br /><br />Continue procurando!</p>
      </div>
      <app-button *ngIf="ableToCapture" text="capturar" (click)="capture(pokemon)"></app-button>
    </div>
    <p class="pa-hunt-captured">Você já capturou <span class="pa-hunt-captured-total">{{ captured.length }}</span> pokemons!</p>
  </section>
</main>
